.heloo:link {
  color : yellow ;
}


.heloo:hover {
	color : grey ;
	font-family : arial ;
	font-size : 40 ;

}


.heloo:active {
	font-style : italic ; bold ;
	
}


li:nth-child(3n+2) a {
	color : green ;
} 


li:nth-child(3n) a:hover {
	color : yellow ;
}


p:last-of-type {
	color : red ;
	font-family : arial;
	font-size : 15 px ;
}