h2, h1 {
	font-family: arial ;
	color: steelblue ;

}

.p2 {
	color: red;
	font-family: sans-serif;
	font-style: italic;

}

#p1 {
	color: blue;

}

.cetak-tebal {
	font-weight: bold;

} 

ol li a {
	color: orange ;

}

ul li a {
	color: darkgreen ;
}


p.cetak-tebal {
	font-size: 35px ;
	 
}