/* FONT  */

@font-face {
	font-family: 'BebasNeue';
	src: url(../font/BebasNeue-Regular.woff) format('woff');
}


/* STYLE UTAMA */

body {
	font: 18px/36px 'BebasNeue', 'arial-narrow', arial, sans-serif ;
	background-color: #ddd;
}


h1 {
	font-size: 80px;
	margin: 50px 0;
	text-align: center;
	text-shadow: 1px 1px 1px whitesmoke;
}


.container {
	width: 600px;
	background-color: white;
	margin: auto;
	padding: 30px ;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3) ;

}



/*	Bingkai gambar */
.galeri li{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 5px solid #666;
	float: left;
	margin-right: 20px ;
	position: relative;

}


.clear {
	clear: both;
}


/* GAMBARNYA */

.galeri li a img {
	border-radius: 50%;
}


.galeri li span {
	display: block;
	width: 120px;
	height: 120px;
	background-color: rgba(200, 200,200,0.5);
	border-radius: 50%;
	position: absolute;
	top: 0;
	text-align: center;
	line-height: 120px;
	color: #333;
	text-shadow: 1px 1px 1px #ddd;
	opacity: 0;
	transition: 0.3s;
	transform: scale(0) rotate(0);
}


.galeri li a:hover span {
	opacity: 1;
	transform: scale(1.0) rotate(360deg);
}




/* OVERLAY (keadaan awal)*/
.overlay {
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
	z-index: 9999;
	transition: .5s ;
	text-align: center;
	padding: 100px 0 ;
}

/* (keadaan target) */

.overlay:target {
	width: auto;
	height: auto;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, .8);

}


.overlay img {
	max-height: 100% ;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);

}


.overlay:target img {
	animation: zoomDanFade 1s;

}

.overlay .close {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -20px;
	color: white;
	text-decoration: none;
	background-color: black;
	border: 1px solid white;
	line-height: 14px;
	padding: 5px;
}


.overlay:target .close {
	animation: slideDownFade .5s .5s forwards;
}



.overlay:target .next,
.overlay:target .previous {
	animation: navigasi .5s .5s forwards;
}






/* ANIMASI */


@keyframes navigasi {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes zoomDanFade {
	
	0% {
		transform: scale(0.9);
		opacity: 0;

	}


	100% {
		transform: scale(1.0);
		opacity: 1 ;
	}
}


@keyframes slideDownFade {

	0% {
		opacity: 0 ;
		margin-top: -20px;
	}


	100% {
		opacity: 1;
		margin-top: 0;
	}
}





/* NAVIGASI */

.next {
	width: 70px;
	height: 70px;
	background-image: url(../img/next.png);
	position: absolute;
	text-indent: -9999px;
	top: 41%;
	opacity: 0;

}


.previous {
	width: 70px;
	height: 70px;
	background-image: url(../img/previous.png);
	position: absolute;
	text-indent: -9999px;
	top: 41%;
	margin-left: -58px;
	opacity: 0;

}